.project {
  margin-left: auto;
  margin-right: auto;
  width: 76%;
  padding-top: 7vh;
  border-radius: 1vw;
  padding-bottom: 5vh;
}

.project-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
  color: white;
}

.Skilltags {
  display: flex;
  gap: 2rem;
  margin-left: -2.5rem;
  margin-top: 0.4rem;
  color: white;
}

.Skilltags > li:first-child {
  list-style: none;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 15%;
  gap: 5rem;
  color: white;
}

.image-container {
  position: relative;
  border-radius: 0.5vh;
  flex: 1;
}

.image-container > img {
  border-radius: 0.5vh;
  width: 30vw;
}

.project-right {
  flex: 1;
  background-color: #090909;
  padding: 3.9vh;
  border-radius: 2vh;
}

.project-right-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.project-right-title > :nth-child(1) {
  font-weight: 600;
  font-size: 2.5vh;
}

.project-right-title > :nth-child(2) {
  color: #b2434c;
  font-weight: 400;
  font-size: 2.2vh;
  cursor: pointer;
}

.project-right-text {
  margin-top: 3vh;
  font-size: 2vh;
}

.project-right-click {
  margin-top: 5vh;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5vh;
}

.project-right-click > div:nth-child(1) {
  cursor: pointer;
  background-color: #b2434c;
  color: white;
  border-radius: 0.2rem;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2vh;
  transition: color 0.2s, background-color 0.2s;
}

.project-right-click > div:nth-child(1):hover {
  background-color: #86333a;
}

.project-right-click > div:nth-child(2) {
  cursor: pointer;
  color: #b2434c;
  font-size: 2vh;
}

@media only screen and (max-width: 1388px) {
  .image-container > img {
    border-radius: 0.5vh;
    width: 100%;
  }
}
