.contact {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #000000;
}

.contact-title {
  padding-top: 10vh;
  padding-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.contact-title > :nth-child(1) {
  color: #fa606c;
  font-size: 2vh;
}
.contact-title > div:nth-child(2) {
  color: white;
  font-size: 3vh;
}

.headline-contact-links {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  gap: 2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.headline-contact-links > img {
  width: 4vh;
}

.headline-contact-links > img:hover {
  filter: invert(1);
}
