.prototype {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
  border-radius: 2vh;
  padding: 10vh;
}

.prototype-image {
  width: 500px;
  border-radius: 1vh;
}
.prototype-content {
  color: white;
  width: 600px;
  flex-shrink: 0;
  background-color: #090909;
  padding: 4.5vh;
  border-radius: 3vh;
}

.prototype-content > div:nth-child(1) {
  text-align: start;
  font-weight: 600;
  font-size: 2vh;
  color: #b2434c;
  margin-bottom: 1vh;
}

.prototype-content > div:nth-child(2) {
  text-align: start;
  font-size: 2vh;
  line-height: 1.5;
}

.reverse {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1000px) {
  .prototype-content,
  .prototype-image {
    width: 100%;
  }
  .prototype-content {
    width: 100%;
  }
}
