.projects-section {
  width: 100%;
  background-color: #000;
  padding-top: 15vh;
}

.project-list {
  display: block;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 8vh;
}

.title > span {
  display: block;
  font-weight: 2vh;
}

.title > span:nth-child(1) {
  color: #b2434c;
  font-size: 2vh;
  font-weight: 600;
}
.title > span:nth-child(2) {
  font-size: 3vh;
  font-weight: 600;
}
