.about-me {
  width: 100%;
  background-color: black;
}

.about-me-container {
  width: 70%;
  margin: auto auto;
  padding-top: 35vh;
  padding-bottom: 35vh;
}
.about-me-header {
  color: #fa606c;
  font-weight: 600;
  font-size: 3vh;
  margin-bottom: 2vh;
}

.about-me-text {
  font-weight: 400;
  font-size: 2vh;
  color: #b5b5b5;
  word-break: break-all;
}
