.about-me {
  width: 100%;
  background-color: black;
}

.about-me-container {
  width: 70%;
  margin: auto auto;
  padding-top: 35vh;
  padding-bottom: 35vh;
}
.about-me-header {
  color: #fa606c;
  font-weight: 600;
  font-size: 3vh;
  margin-bottom: 2vh;
}

.about-me-text {
  font-weight: 400;
  font-size: 2vh;
  color: #b5b5b5;
  word-break: break-all;
}

.skill-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 8vh;
}

.skill-section > img {
  filter: grayscale(100%);
  width: 7vh;
  transition: filter 0.3s linear, transform 0.1s linear;
  cursor: pointer;
}
.skill-section > img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
